{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Specialist Finder</h1>
    <p class="lead">Find the right specialist for your needs!</p>
    <hr class="my-4">
    <p>Start your search now or register as a specialist.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('search_specialists') }}" role="button">Search Specialists</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('register_specialist') }}" role="button">Register as
        Specialist</a>
</div>
{% endblock %}